/* Change the background color behind the author profile */
.masthead {
    background-color: #007EA7; /* Replace with your desired color */
    color: #FFFFFF  !important; /* Example: Set text color */
    height: 90px;
}
.masthead * {
    background-color: #007EA7; /* Replace with your desired color */
    color: #FFFFFF  !important; /* Example: Set text color */
}